.card {
    background: #000000;
    color: var(--green);
    margin: 2px 0;
    padding-bottom: 5px;
}

.card h4 {
    padding: 0 0 2px 5px;
}
.cardsmall {
    background: #000000;
    color: var(--green);
    margin: 1px;
    padding: 5px;
    width: 49.8svw;
}

@media (max-width: 600px) {
    .cardsmall {
        width: 100svw;
        margin-left: 0;
        margin-right: 0;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
}