.navbar {
    background: #fff;
    color: #000;
  }

.navbar div {
  display: flex;
  justify-content: center;
  padding: 0;
  width: 47svw;
}  

.container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.hoverContainer {
  width: 45svw;
  height: "auto";
  position: fixed;
  bottom: 3svh;
  left:1.5svw;
  font-size:2em;
  color: #bfff00;
}

@media (max-width: 600px) {
  .navbar div {
    width: 100svw;
  }

  .container {
    position: relative;
    top: 20svh;
  }
}
