:root {
  --background: #8F8F8F;
  --green:#bfff00;
  --background-header: #000000;
  --background-header: linear-gradient(0deg, #000000 0%, #5e7c03 100%);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background: var(--green);
}

* {
  /* all: unset; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12dvh;
  position: fixed;
  width: 100vw;
  background: var(--background-header);
  color: var(--green);
  z-index: 1;
}


.logo {
  display: flex;
  align-items: flex-end;
}

.title {  
  width: 24vw;
  min-width: 24vw;
}

.title h1 {
  padding:   0 0 8px 20px;
  font-size: 2.5em;
  /* font-variation-settings: 'wght' 100, 'wdth' 151,'opsz' 16,'slnt' 0;typo instance */
  font-variation-settings: 'wght' 200, 'wdth' 51,'opsz' 16,'slnt' 0,'GRAD' 0,'XOPQ' 96,'YOPQ' 79,'XTRA' 468,'YTAS'750,'YTDE'-203,'YTLC' 514,'YTUC' 760,'YTFI' 738;
  /* line-height: 0.95em; */
}

.header-bio {
  width: 60vw;
  padding-bottom: 13.5px;
}

.header-bio h2 {
  font-size: 1em;
  font-variation-settings: 'wght' 500, 'wdth' 121,'opsz' 16,'slnt' 0;
  /* line-height: 1em; */
}

.instagram {  
  padding: 0 20px 13.5px 0;
  font-variation-settings: 'wght' 300, 'wdth' 151,'opsz' 16,'slnt' 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3svh;
  /* position: fixed; */
  width: 100svw;
  bottom: 0;
  background: #5e7c03;
  color: var(--green);
  font-weight: 100;
  font-variation-settings: 'opsz' 8;
}



@media (max-width: 1200px) {
  .title h1 {
    line-height: 0.99em;
    padding-bottom: 12px;
  }
}

@media (max-width: 600px) {
  header {
    height: auto;
  }

  .logo {
    margin-right: 50px;
    margin-top: 15px;
  }

  .header-bio {
   display: none;
  }
}