.page {
  min-height: 85svh;
  padding: 0 20px;
  width: 100svw;
  position: fixed;
  top:10svh;
  z-index: -2;
}

.primaryContainer{
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position:inherit;
  overflow: auto;
  height: 87%;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: auto;
  height: 87svh;
  padding-bottom: 29.5px;
} 

.primaryContainer::-webkit-scrollbar, .secondaryContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .page {
    padding: 0;
    position: inherit;
  }
}
