.container {
  margin-top: 12svh;
  padding: 0 20px;
  width: 100svw;
  height: 100svh;
  display: flex;
  background: var(--green);
}

.primaryContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position:inherit;
  overflow: auto;
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  margin-left: 5px;
} 

.primaryContainer::-webkit-scrollbar, .secondaryContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .container {
    padding: 0;
    position: inherit;
    height: fit-content;
    flex-direction: column;
  }

  .primaryContainer {
    padding-bottom: 0;
    align-items: flex-start;
  }
  .secondaryContainer {
    align-items: flex-start;
    margin-left: 0;
    padding-bottom: 0;
  }
}
