.container {
  margin-top: 12svh;
  padding: 0 20px;
  width: 100svw;
  height: 100svh;
  display: flex;
}

.primaryContainer{
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position:inherit;
  overflow: auto;
  /* height: 87%; */
}

.secondaryContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  /* height: 87svh; */
  /* padding-bottom: 29.5px; */
} 

.primaryContainer::-webkit-scrollbar, .secondaryContainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
    position: inherit;
    height: fit-content;
    flex-direction: column;
    margin-top: 0;
  }

  .primaryContainer {
    height: fit-content;
    padding-bottom: 0;
    align-items: flex-start;
  }
  .secondaryContainer {
    height: fit-content;
    align-items: flex-start;
    padding-bottom: 0;
  }
}
