.container {
  /* background: var(--green); */
  background: #000;
  color: var(--green);
  min-height: auto;
  padding: 0 20px;
  /* width: 100svw; */
  /* height: 88vh; */
  position: relative;
  top:3svh;
  /* font-weight: 100; */
  z-index: 2;
}

.bio p {
  padding: 10px 0;
    font-size: 1.5em;
  font-variation-settings: 'wght' 500, 'wdth' 51,'opsz' 16,'slnt' 0,'GRAD' 0,'XOPQ' 96,'YOPQ' 79,'XTRA' 468,'YTAS'750,'YTDE'-203,'YTLC' 514,'YTUC' 760,'YTFI' 738;
}

.biopic {
  margin: 0 0 3svh 0;
  padding: 20px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .container {
    height: auto;
    top: 4svh;
  }
  .biopic {
    margin: 0 0 4svh 0;
  }
}



