.container {
  /* background: #5e7c03; */
  background: #000;
  padding: 0;
  width: 100svw;
  position: relative;
  top: 3svh;
  z-index: 2;
}

.content {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.textContainer {
  margin-bottom: 4svh;
  padding: 0 20px;
  width: 100svw;
  font-weight: 100;
}

.textContainer h1 {
  font-weight: 100;
}

.imageWrapper {
  height: auto;
}

.projectTitle {
  font-size: 3em;
  font-variation-settings: 'wght' 500, 'wdth' 151, 'opsz' 14, 'slnt' 0;
  color: #fff;
  position: relative;
  top: -75px;
  padding: 0 20px;
}

.chapterTitle, .videoTitle, .socialLinks {
  font-size: 1.5em;
  color: var(--green);
}

.socialLinks {
  margin: 20px 0;
}

.socialLinks a {
  cursor:pointer;
}

.blogEntry {
  margin:30px 0;
  font-variation-settings: 'wght' 500, 'wdth' 151, 'opsz' 14, 'slnt' 0;
  color: var(--green);
}

.footers {
  color: var(--green);
  padding: 20px 0;
}

@media (max-width: 600px) {
    .container {
        height: 96svh;
        top: 4svh;
    }
}